*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: "Inter", sans-serif;
}

.container{
    background: #fff;
}
.header{
    background: #ffc107;
    padding: 50px 80px 0 100px;
    display: flex;

    & a{
        color: #fff;
    }

    & .logo img{
        width: 261px;
    }

    & nav{
        display: flex;
        margin-top: 20px;

        & ul{
            display: flex;

            & li{
                margin: 0 30px;
                font-size: 20px;
                
                & a:hover{
                    color: #a5a5a5;
                    transition: 0.2s;
                }
            }
        }

        & .login button{
            background: transparent;
            border: 2px solid #fff;
            border-radius: 5px;
            font-size: 20px;
            cursor: pointer;
            padding: 10px 15px;
            margin-top: -10px;
            margin-left: 15px;
        }

        & .login button:hover{
            background: #fff;
            transition: 0.2s;

            & a{
                color: #ffc107;
            };
        }

    }

    & .title{
        clear: both;
        color: #fff;
        margin-top: 85px;
        
        & h1{
            font-weight: 500;
            font-size: 3.5em;
            width: 500px;
        }

        & p{
            font-weight: 300;
            font-size: 20px;
            width: 790px;
        }
    }

    & .form{
        margin-top: 55px;

        & input{
            height: 48px;
            width: 550px;
            font-size: 20px;
            padding-left: 20px;
            border: 1px solid #ababab;
            border-radius: 10px 0 0 10px;
            margin-right: -5px;
            outline: none;
        }

        & button{
            height: 48px;
            width: 180px;
            background-color: #0670fc;
            border: none;
            color: #fff;
            font-size: 20px;
            border-radius: 0 10px 10px 0;
            cursor: pointer;
        }

        & button:hover {
            background-color: #0361db;
            transition: 0.2s;
        }
    }

    & .links{
        margin-top: 30px;
        font-size: 16px;
        color: #fff;

        & .btn-link{
            color: #fff;
            width: 40px;
            height: 40px;
            background: transparent;
            border: 1px solid #fff;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
            margin: 0 5px;

            & .fa-brands{
                font-size: 20px;
            }
        }

        & .btn-link:hover{
            background: #fff;
            transition: 0.2s;

            & .fa-brands{
                color: #ffc107;
                transition: 0.2s;
            }
        }
    }

    & .capa{
        margin: 10px 0 0 0;
        padding: 0;
        display: flex;

        & img{
            width: auto;
            margin: 0;
            position: relative;
            left: 150px;
        }
    }
}